<h1>Our Blog</h1>

<% @posts.each do |post| %>    <!-- loop through posts. posts is a hash that is retrieved from the datasbe in the ./app/controllers/post_controller.rb in the index action method.-->
	<h2> <%= link_to post.title, post %> </h2>   <!--link_to method text, id or object to get its show URL-->
	<p> <%= post.content %></p>
    <p> <%= link_to "Edit", edit_post_path(post) %> |
      <%= link_to "Delete", post, :confirm => "Are you sure", :method => :delete %>  <!--Confirm is for a javascripy popup. method is to go to the destroy action rather than the show action-->
    </p>
	<hr/>
<% end %>      <!-- close the loop block-->

<p><%= link_to "Add a New Post", new_post_path %></p> <!-- link to the named route to the new action -->